.dashboards{
    padding: 0;
}

.dashboard{
    /*float: left;*/
    display: inline-block;
    width: 240px;
    height: 260px;
    margin: 10px;
    border: 1px solid #e2e5ec;
}

.iot{
    background-image: url(../Public/images/iot.jpg);
    width: 238px;
    height: 160px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.iot .using{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #1394ef;
    color: #fff;
    font-size: 14px;
    display: none;
}

li.use .iot .using{
    display: block;
}

.iot .edit{
    background: #3d414b;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
    opacity: 0.9;
    cursor: pointer;
    display: none;
}

.iot:hover .edit{
    display: block;
}

.iot .edit img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
}

.dashboard .middle{

    width: 238px;
    height: 58px;
    position: relative;
}

.dashboard .middle .name{
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dashboard .middle .time{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 10px;
    color: #999999;
}

.dashboard .middle button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 66px;
    height: 32px;
    line-height: 1.15;
    font-size: 12px;
    padding: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.dashboard .middle button.nouse{
    background: rgb(16, 142, 233);
}

.dashboard .middle button.use{
    background: rgb(243, 156, 18);
}

.dashboard .tools{
    width: 238px;
    height: 40px;
    background: #f6f7fb;
    position: relative;
}

.dashboard .tools ul{
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 0;
}

.dashboard .tools li{
    text-decoration: none;
    float: left;
    display: inline-block;
    margin-right: 15px;
    color: #999999;
    font-size: 14px;
}

.dashboard .tools li:hover{
    color: #49a9ee;
    cursor: pointer;
}